{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles\index.css' %}">
</head>
<body>

    {{ nota.id }} - {{ nota.nome }}

    <form action="{% url 'update' notas.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{nota.nome}}">
        <button type="submit">Update</button>
    </form>
    
</body>
</html>